# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# SAM build
.aws-sam/

# Alembic compiled
alembic/versions/__pycache__/
